<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cycle of Benefits</title>
    <link rel="icon" href="" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/dynamic.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla&display=swap"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="logo-div">
          <a href="./"><i class="fas fa-monument fa-2x"></i></a>
          <p><a href="./">Cycle of Benefits</a></p>
          <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
          </div>
          <div class="menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="./">Home</a>
              </li>
              <li class="nav-item">
                <a href="./projects">Projects</a>
              </li>
              <li class="nav-item">
                <a href="./about">About</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="signin-div">
          <a class="signin-link" href="./login"><p>Sign In</p></a>
        </div>
      </header>
      <div class="menu-header">
        <ul class="menu-list">
          <li>
            <a class="menu-item" href="./">Home</a>
          </li>
          <li>
            <a class="menu-item" href="./projects">Projects</a>
          </li>
          <li>
            <a class="menu-item" href="./about">About</a>
          </li>
          <li>
            <a class="menu-item" href="./login">Sign In</a>
          </li>
        </ul>
      </div>
      <main class="main-content">
        <div class="boxes">
          <div class="leftbox">
            <nav>
              <a id="profile" class="active"
                ><i class="fa fa-user"></i
                ><span class="nav-menu">My Profile</span></a
              >
              <a id="postproject"
                ><i class="fa fa-tv"></i
                ><span class="nav-menu">Post Project</span></a
              >
              <a id="rewards"
                ><i class="fa fa-hand-holding-usd"></i
                ><span class="nav-menu">My Rewards</span></a
              >
              <a id="information"
                    ><i class="fa fa-caret-square-up"></i><span class="nav-menu">Information</span></a
              >
              <a id="messages"
                ><i class="fa fa-comment-dots"></i
                ><span class="nav-menu">My Messages</span></a
              >
            </nav>
          </div>
          <div class="rightbox">
            <div class="profile">
              <div class="profile-heading">
                <h1><strong>My Profile</strong></h1>
                <button id="edit-button">
                  <i class="fas fa-edit fa-2x"></i>
                </button>
              </div>
              <form method="put" enctype="multipart/form-data" action="/updateuser" id="profile-form">
                <div class="input-block">
                  <label for="username">Username: </label>
                  <div>
                    <input
                      id="edit_username"
                      type="text"
                      name="username"
                      value="<%= username%>"
                      disabled
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="first_name">First Name : </label>
                  <div>
                    <input
                      id="edit_firstname"
                      type="text"
                      name="first_name"
                      value="<%= firstname%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="last_name">Last Name: </label>
                  <div>
                    <input
                      id="edit_lastname"
                      type="text"
                      name="last_name"
                      value="<%= lastname%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="email">Email: </label>
                  <div>
                    <input
                      id="edit_email"
                      type="email"
                      name="email"
                      value="<%=email%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="dob">DOB: </label>
                  <div>
                    <input
                      id="edit_dob"
                      type="date"
                      name="dob"
                      value="<%= age%>"
                      max="2000-01-01"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="address">Address: </label>
                  <div>
                    <input
                      id="edit_address"
                      type="text"
                      name="address"
                      value="<%= address%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="phone">Phone Number: </label>
                  <div>
                    <input
                      id="edit_phone"
                      type="text"
                      name="phone"
                      value="<%= phone%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="state">State of Origin: </label>
                  <div>
                    <input
                      id="edit_state"
                      type="text"
                      name="state"
                      value="<%= state%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="national_id">National ID Number: </label>
                  <div>
                    <input
                      id="edit_national_id"
                      type="text"
                      name="national_id"
                      value="<%= nationalId%>"
                      readonly
                    />
                  </div>
                </div>
                <div class="form-button">
                  <input
                    id="save_changes"
                    type="submit"
                    class="left-btn my-btn"
                    value="SAVE CHANGES"
                    disabled
                  />
                  <a id="reset_button" class="right-btn" type="button" href="#"
                    >Reset</a
                  >
                </div>
                <hr />
              </form>
            </div>
            <div class="postproject noshow">
              <h1>Post a new Project</h1>
              <form method="post" enctype="multipart/form-data" action="/addproject" id="post_project">
                <div class="input-block">
                  <label for="type">Project Type: </label>
                  <select id="proj_type" name="type">
                    <option value="Refuse Dump Site">Refuse Dump Site</option>
                    <option value="Clogged Gutter">Clogged Gutter</option>
                    <option value="Market Cleaning">Market Cleaning</option>
                    <option value="Grass Cutting">Grass Cutting</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="input-block">
                  <label for="title">Title:</label>
                  <div>
                    <input id="proj_title" type="text" name="title" />
                  </div>
                </div>
                <div class="input-block">
                  <label for="details">Project Details:</label>
                  <div>
                    <textarea
                      id="proj_details"
                      rows="6"
                      name="details"
                    ></textarea>
                  </div>
                </div>
                <div class="input-block">
                  <label for="tools">Required Tools:</label>
                  <div>
                    <input id="proj_tools" type="text" name="tools" />
                  </div>
                </div>
                <div class="input-block">
                  <label for="image">Upload Picture file:</label>
                  <div>
                    <input type="file" id="proj_image" name="image" />
                  </div>
                </div>
                <div class="input-block">
                  <label for="address">Address:</label>
                  <div>
                    <input id="proj_address" type="text" name="address" />
                  </div>
                </div>
                <div class="input-block">
                  <label for="city">City:</label>
                  <div>
                    <input id="proj_city" type="text" name="city" />
                  </div>
                </div>
                <div class="input-block">
                  <label for="duration">Estimated Duration of Project: </label>
                  <div>
                    <input
                      id="proj_duration"
                      type="text"
                      name="duration"
                    />
                  </div>
                </div>
                <div class="input-block">
                  <label for="max_workers">Number of Workers:</label>
                  <div>
                    <input
                      id="proj_max_workers"
                      type="number"
                      name="max_workers"
                      min="1"
                    />
                  </div>
                </div>
                <div class="form-button">
                  <input class="my-btn left-btn" type="submit" value="SUBMIT" />
                  <a class="right-btn" href="./">Back</a>
                </div>
                <hr />
              </form>
            </div>
            <div class="rewards noshow">
              <h1>My Rewards</h1>
              <section class="myrewards">
                <div class="reward-load form-button">
                    <label for="reload">Click to Load/Reload Points: </label>
                    <input
                      id="reload"
                      type="submit"
                      class="left-btn my-btn"
                      value="Reload"
                    />
                </div>
                <div class="reward-points">
                  <form action="/redeemreward" id="rewardform">
                    <i class="fas fa-trophy fa-2x"></i>
                    <div>
                      <p form="rewardform"for="total">Total Points: <span id="totalpoints"><%= points%></span></p>
                    <div>
                      <label for="usedpoints">Use: </label>
                    <input id="usedpoints" type="number" min="0" max="<%=points%>">
                    </div>
                    <div>
                      <label for="benefit">Choose Benefit: </label>
                    <select id="benefittype" name="benefit">
                    <option value="medical">Medical Benefits</option>
                    <option value="clothing">Clothing Benefits</option>
                    <option value="educational">Educational Benefits</option>
                    <option value="cash">Cash Benefits</option>
                    <option value="food">Food Benefits</option>
                    <option value="transport">Transportation Benefits</option>
                    </select>
                    </div>
                    <div class="form-button">
                      <input
                        id="redeem"
                        type="submit"
                        class="left-btn my-btn"
                        value="Redeem Reward"
                      />
                    </div>
                  </form>
                </div>
            </section>
            </div>
            <div class="information noshow">
              <h1><strong>How To</strong></h1>
                <div>
                  <p>Earn points each time you complete various project tasks</p>
                <p>Redeem your points for reward benefits</p>
                </div>
                <div>
                  <h4>Reward Benefits</h4>
                <ul>
                  <li>Medical Benefits</li>
                  <li>Clothing Benefits</li>
                  <li>Educational Benefits</li>
                  <li>Cash Benefits</li>
                  <li>Food Benefits</li>
                  <li>Transportation Benefits</li>
                </ul>
                </div>
                <div>
                  <h4>Reward Points</h4>
                <ul>
                  <li>200RP: <span class="level1">#10,000</span</li>
                  <li>600RP:<span class="level1">#45,000</span</li>
                  <li>1000RP:<span class="level1">#90,000</span</li>
                </ul>
                </div>
                <div>
                  <h3>How do i earn reward points?</h3>
                  <p>Complete a project task, upon confirmation of the project being complete, the reward points assigned to the project will be distributed accordingly amongst enlisted workers/participants.</p>
                </div>
                <div>
                  <h3>How do use my reward points?</h3>
                  <p>The amount of points you have can be used to unlock the corresponding point-amount and can then be used to redeem one of any of the benefit types listed above.</p>
                </div>
              
            </div>
            <div class="messages noshow">
              <h1>My Messages</h1>
              <p>Messages Coming Soon</p>
            </div>
        </div>
        </div>
      </main>

      <footer class="main-footer">
        <ul>
          <li><a href="./contact">Contact Us</a></li>
          <li><a href="./about">About</a></li>
          <li>
            <a href="#"><span class="green-text">Market Place</span></a>
          </li>
        </ul>
        <p>
          All rights reserved | Created & Designed by Cole &copy; 2019.
        </p>
        <div class="footer-icon">
          <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </footer>
    </div>
    <script type="module" src="/app.js"></script>
  </body>
</html>
