<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project</title>
    <link rel="icon" href="" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
    />
    
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/dynamic.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="logo-div">
          <a href="./"><i class="fas fa-dolly-flatbed fa-2x"></i></a>
          <p><a href="./">Cycle of Benefits</a></p>
          <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
          </div>
          <div class="menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="./">Home</a>
              </li>
              <li class="nav-item">
                <a href="./projects">Projects</a>
              </li>
              <li class="nav-item">
                <a href="./about">About</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="signin-div">
          <a class="signin-link" href="./login">Sign In</a>
        </div>
      </header>
      <div class="menu-header">
        <ul class="menu-list">
          <li>
            <a class="menu-item" href="./">Home</a>
          </li>
          <li>
            <a class="menu-item" href="./projects">Projects</a>
          </li>
          <li>
            <a class="menu-item" href="./about">About</a>
          </li>
          <li>
            <a class="menu-item" href="./login">Sign In</a>
          </li>
        </ul>
      </div>

      <main class="main-content">
        <div class="content-body">
          <div id="viewproject">
            <div id="project-image">
              <img src="/<%=image%>" alt="Project Photo" form="project-form" />
              <div class="view-block">
                <label>Project ID: cyob<span form="project-form" id="view_id" name="id"
                  ><%= id%></span></label>
              </div>
            </div>
            <div id="project">
              <form method="post" action="/enlist" name="project-form" id="project-form">
                <div class="view-block">
                  <label for="type">Type: </label>
                  <div>
                    <input
                      id="view_type"
                      type="text"
                      name="type"
                      value="<%= type%>"
                      disabled
                    />
                  </div>
                <div class="view-block">
                  <label for="title">Title: </label>
                  <div>
                    <input
                      id="view_title"
                      type="text"
                      name="title"
                      value="<%= title%>"
                      disabled
                    />
                  </div>
                <div class="view-block">
                  <label for="details">Details: </label>
                  <div>
                    <input
                      id="view_details"
                      type="text"
                      name="details"
                      value="<%= details%>"
                      disabled
                    />
                  </div>
                  <div class="view-block">
                    <label for="duration">Estimated Duration: </label>
                    <div>
                      <input
                        id="view_duration"
                        type="text"
                        name="duration"
                        value="<%= duration%>"
                        disabled
                      />
                    </div>
                </div>
                <div class="view-block">
                  <label for="address">Address: </label>
                  <div>
                    <input
                      id="view_address"
                      type="text"
                      name="address"
                      value="<%= address%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="city">City: </label>
                  <div>
                    <input
                      id="view_city"
                      type="text"
                      name="city"
                      value="<%= city%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="status">Status: </label>
                  <div>
                    <input
                    type="text"
                      id="view_status"
                      name="status"
                      value="<%= status%>"
                      disabled
                      />
                  </div>
                </div>
                <div class="view-block">
                  <label for="tools">Tools Required: </label>
                  <div>
                    <input
                      id="view_tools"
                      type="text"
                      name="tools"
                      value="<%= tools%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="current_workers">Current No. of Workers: </label>
                  <div>
                    <input
                      id="view_current_workers"
                      type="text"
                      name="current_workers"
                      value="<%= current%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="no_of_workers">Maximum Workers: </label>
                  <div>
                    <input
                      id="view_no_of_workers"
                      type="text"
                      name="no_of_workers"
                      value="<%= maxworkers%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="worth">Total Reward Points: </label>
                  <div>
                    <input
                      id="view_worth"
                      type="text"
                      name="worth"
                      value="<%= worth%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="view-block">
                  <label for="posted_by">Posted By: </label>
                  <div>
                    <input
                      id="view_posted_by"
                      type="text"
                      name="posted_by"
                      value="<%= postedby%>"
                      disabled
                    />
                  </div>
                </div>
                <div class="form-button">
                  <input
                  id="interest"
                    class="my-btn left-btn"
                    type="submit"
                    value="ENLIST"
                  />
                  <a class="right-btn" href="./projects">Back</a>
                </div>
                <div id="editProject"></div>
                <hr />
              </form>
            </div>
          </div>
        </div>
      </main>
      <footer class="main-footer">
        <ul>
          <li><a href="./contact">Contact Us</a></li>
          <li><a href="./about">About</a></li>
          <li>
            <a href="#"><span class="green-text">Market Place</span></a>
          </li>
        </ul>
        <p>
          All rights reserved | Created & Designed by Cole &copy; 2019.
        </p>
        <div class="footer-icon">
          <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </footer>
    </div>
    <script type="module" src="/app.js"></script>
  </body>
</html>
